.nav-link{
    color: #0D28A6;
    text-decoration: none;
  }
  .brand-logo img{
    margin-left: 0.5rem;
    width: 100px;
    height: 34px;
  }
  
  .navibar--cont{
    background-color: #F1F3FF;
  }

  @media only screen and (min-width: 1024px) {
    .brand-logo{
      margin-left: 4.5rem;
    }
  }
  